# Neon PostgreSQL Connection
# La URL se ve así: postgresql://user:password@ep-xxxxx.region.neon.tech:5432/dbname?sslmode=require
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
PORT=5000
